4_src/smart_car/PWM_summary.html linguist-generated=true
4_src/smart_car/drive_summary.html linguist-vendored=false
4_src/smart_car/monitor_envsettings.html linguist-vendored=false
4_src/smart_car/monitor_summary.html linguist-vendored=false
4_src/smart_car/usage_statistics_webtalk.html linguist-vendored=false